body{
    background-color: aquamarine;
}
#dhead{
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(215, 226, 112);
    
}
#login:hover{
color: rgb(210, 36, 36);
}

#dbody{
    margin-left: 20%;
    margin-right: 20%;
    background-color: #cef4c3; 
}
#dfoot{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    
}